.App {
  /* text-align: center; */
  height: 80px;
  width: 90%;
  background-color: rgb(49, 49, 49);
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

.link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.anchor{
  text-decoration: none;
  color: white;
}

.btn{
  border-radius: 20px;
  height: 60%;
  margin-top: 20px;
  width: 150px;
  cursor: pointer;
  border: none;
  background-color: rgba(17, 202, 202, 0.568);
  color: white;
}
